#dash-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  height: calc(100% - 64px);
}

#main-body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
}

.mode-item {
  height: 4.5rem;
  width: 43rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 1rem;
  transition: 0.4s;
  opacity: 0;
  user-select: none;
}

.node-item-left {
  height: 4.5rem;
  width: 43rem;
  border-radius: 0.2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 1rem;
}

.node-item-picture {
  border-radius: 50%;
  background-color: #505050;
  width: 4.5rem;
  height: 4.5rem;
  background-position: center;
  background-size: cover;
}

.node-item-labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 70%;
}

.node-item-labels > * {
  margin: 0;
}

.node-item > .spinner {
  margin-left: -1rem;
}

#mode-selector-div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 50rem;
}

#mode-selector-div > .mode-item  {
  margin-bottom: 1.7rem;
}

#mode-selector-div > :last-child {
  margin-bottom: 0;
}

#main-body-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#main-body-navbar-button-div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: space-evenly;
}

@media (max-width: 47.5rem) {
  .mode-item {
    width: 85%;
    height: 4rem;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  #mode-selector-div {
    width: 100%;
  }

  #main-body-navbar {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 90%;
  }

  #main-body {
    width: 100%;
  }

  .node-item-picture {
    height: 3rem;
    width: 3rem;
  }

  nav {
    height: 40px;
  }
}