#login-form-body,
#login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#login-form-body {
  justify-content: center;
  height: 22rem;
}

#login-form-div {
  height: 11rem;
  width: 12rem;
  border-radius: 0.3rem;
  padding: 2rem;
}

#username-input {
  margin-bottom: 2rem;
}

#login-button {
  margin-top: 2rem;
  padding: 8px 22px;
}

#login-title-div {
  width: 15rem;
  margin-bottom: 1rem;
}
