nav,
#navbar-left {
  display: flex;
  align-items: center;
}

nav {
  height: 64px;
  width: 100%;
  background-color: var(--clr-purple);
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14),
    0 3px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

#navbar-left {
  padding-left: 2rem;
  gap: 0.8rem;
}

#navbar-application-version {
  font-size: 0.875rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
}

@media (max-width: 47.5rem) {
  nav {
    height: 40px;
  }
}
