:root {
  --clr-purple: #3f51b5;
  --clr-success: #3fb545;
  --clr-error: #b53f3f;
  --clr-purple-hover: #32429c;
  --clr-text-white: white;
}

body {
  background-color: #303030;
  margin: 0;
}

h1 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: var(--clr-text-white);
  margin: 0;
}

h2 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: var(--clr-text-white);
  margin: 0;
}

h3 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: var(--clr-text-white);
  margin: 0;
}

h4 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: var(--clr-text-white);
  margin: 0;
}

span {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: var(--clr-text-white);
  margin: 0;
}

@media (max-width: 47.5rem) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  h3 {
    font-size: 0.8rem;
  }
}
