{
    "port": 8080,
    "instanceName": "your name of instance, eg hostname",
    "users": [
        {
            "name": "you",
            "password": "your password"
        },
        {
            "name": "another user",
            "password": "his password"
        }
    ]
}