<html>

<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="/static/elevations.css">
    <link rel="stylesheet" type="text/css" href="/static/button.css">
    <link rel="stylesheet" type="text/css" href="/static/input.css">
    <link rel="stylesheet" type="text/css" href="/static/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/login.css">
</head>
<body>
    <nav></nav>
    <div id="login-form-body">
        <div id='login-form-div' class="threeDp">
            <form id="login-form" method="POST">
                <input class="text-input" name="username" placeholder="Username">
                <input class="text-input" name="password" placeholder="Password">
                <button class="button" type="submit">LOGIN</button>
            </form>
        </div>
    </div>
</body>

</html>